@model MUps

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="~/css/mystyle.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="encabezado">

        <h1>Nuevo UPS</h1>
        <h2 class="error">@Model.RespuestaSql</h2>

    </div>
    

    <div class="contenido-mvc">

        <form class=factura-form action=@Url.Action("Insert","UPS") method="post">
            <label for="">Codigo Empleado</label>
            <input type="text" value="@Model.Cod_Emple" name="Cod_Emple">
            <br />

            <label for="">Nombre</label>
            <input type="text" value="@Model.Nombre" name="Nombre">
            <br />

            <label for="">No Inventario</label>
            <input type="text" value="@Model.NoInventario" name="NoInventario">
            <br />

            <label for="">Marca</label>
            <input type="text" value="@Model.Marca" name="Marca">
            <br />


            <label for="">Estado</label>
            <select name="Estado">
                @if (Model.Estado == "A")
                {
                    <option value="A" selected>Activo</option>
                    <option value="I">Inactivo</option>
                }
                else
                {
                    <option value="A">Activo</option>
                    <option value="I" selected>Inactivo</option>
                }
            </select>

            <br />

            <label for="">Condicion</label>
            <select name="Condicion">
                @if (Model.Condicion == "B")
                {
                    <option value="B" selected>Buen estado</option>
                    <option value="M">Mal Estado</option>
                }
                else
                {
                    <option value="B">Buen estado</option>
                    <option value="M" selected>Mal Estado</option>
                }
            </select>

            <br />
            <br />
            <br />
            <div class="button-container">
                <button class="btn" type="submit">Guardar</a></button>
                <button class="btn" type="button" id="cancelar"><a href=@Url.Action("Home_","Home")>Cancelar</a></button>

            </div>
            
        </form>

    </div>
    
</body>
</html>