@model MComputadora

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="encabezado">
        <h2>Editar Computadora</h2>
    </div>

    <div class="contenido-mvc">
        <form class=factura-form action=@Url.Action("Actualizar","Computadoras") method="post">

            <label for="">Codigo Empleado</label>
            <input type="text" value="@Model.Cod_Emple" name="Cod_Emple" id="CodEmple">
            <br />

            <label for="empleado">Nombre</label>
            <input type="text" value="@Model.Nombre" name="Nombre" id="empleado">
            <button type="button" id="seleccionarEmpleadoBtn">Seleccionar Empleado</button>
            <br />

            <label for="">No. Inventario</label>
            <input type="text" value="@Model.NoInmentario" name="NoInmentario" readonly>
            <br />

            <label for="">Tipo</label>
            <input type="text" value="@Model.Tipo" name="Tipo">
            <br />

            <label for="">Marca</label>
            <input type="text" value="@Model.Marca" name="Marca">
            <br />
            <label for="">Modelo</label>
            <input type="text" value="@Model.Modelo" name="Modelo">
            <br />
            <label for="">Serie</label>
            <input type="text" value="@Model.Serie" name="Serie" readonly>
            <br />
            <label for="">Procesador</label>
            <input type="text" value="@Model.Procesador" name="Procesador">
            <br />
            <label for="">Generacion</label>
            <input type="text" value="@Model.Generacion" name="Generacion">
            <br />
            <label for="">Tipo de disco</label>
            <input type="text" value="@Model.TipoDisco" name="TipoDisco">
            <br />
            <label for="">Capacidad de disco</label>
            <input type="text" value="@Model.CapacidadDisco" name="CapacidadDisco">
            <br />
            <label for="">Ram</label>
            <input type="text" value="@Model.Ram" name="Ram">
            <br />
            <label for="">Mac Address</label>
            <input type="text" value="@Model.MacAddress" name="MacAddress">
            <br />
            <label for="">No IP</label>
            <input type="text" value="@Model.NoIp" name="NoIp">
            <br />
            <label for="">Teclado</label>
            <input type="text" value="@Model.Teclado" name="Teclado">
            <br />
            <label for="">Mouse</label>
            <input type="text" value="@Model.Mouse" name="Mouse">
            <br />
            <label for="">Nombre Pc</label>
            <input type="text" value="@Model.NombrePc" name="NombrePc">
            <br />
            <label for="">Dominio</label>
            <input type="text" value="@Model.Dominio" name="Dominio">
            <br />
            <label for="">Usuario</label>
            <input type="text" value="@Model.Usuario" name="Usuario">
            <br />
            <label for="">Contraseña</label>
            <input type="text" value="@Model.Contra" name="Contra">
            <br />

            <label for="">Estado</label>
            <select name="Estado">
                @if (Model.Estado == "A")
                {
                    <option value="A" selected>Activo</option>
                    <option value="I">Inactivo</option>
                }
                else
                {
                    <option value="A">Activo</option>
                    <option value="I" selected>Inactivo</option>
                }
            </select>
            @*<input type="text" value="@Model.Estado" name="Estado">*@
            <br />
            <label for="">Condicion</label>
            <select name="Condicion">
                @if (Model.Condicion == "B")
                {
                    <option value="B" selected>Buen estado</option>
                    <option value="M">Mal Estado</option>
                }
                else
                {
                    <option value="B">Buen estado</option>
                    <option value="M" selected>Mal Estado</option>
                }
            </select>

            <br />


            <br />
            <br />
            <button type="submit" id="Editar">Guardar</button>


            <button type="button" id="cancelar"><a href=@Url.Action("Home_","Home")>Cancelar</a></button>
            <button type="button" id="Nuevo"><a href=@Url.Action("Nuevo","Computadoras")>Nuevo</a></button>
        </form>
    </div>

    <!-- El Popup -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Seleccionar Empleado</h2>
            <table id="empleadosTable">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                </tr>
                <!-- Iterar sobre los empleados del modelo -->
                @foreach (var empleado in Model.Empleados)
                {
                    <tr>
                        <td>@empleado.Cod_Emple</td>
                        <td>@empleado.Nombre</td>
                        <td><button class="selectEmpleadoBtn" data-cod-emple="@empleado.Cod_Emple" data-nombre="@empleado.Nombre">Seleccionar</button></td>
                    </tr>
                }
            </table>
        </div>
    </div>



    <script src="~/js/customScript.js"></script>

</body>
</html>