@model MCelular

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input {
            text-transform: uppercase;
        }
    </style>
</head>
<body>

    <div class="encabezado">
        <h1>Nuevo</h1>
        <h2>@Model.RespuestaSql</h2>
    </div>

    <div class="contenido-mvc">
        <form class=factura-form action=@Url.Action("Insert","Celular") method="post">
            <label for="">Codigo Empleado</label>
            <input type="text" value="@Model.Cod_Emple" name="Cod_Emple" id="CodEmple">
            <br />

            <label for="empleado">Nombre</label>
            <input type="text" value="@Model.Nombre" name="Nombre" id="empleado">
            <button type="button" id="seleccionarEmpleadoBtn">Seleccionar Empleado</button>
            <br />


            <label for="">Marca</label>
            <input type="text" value="@Model.Marca" name="Marca">
            <br />

            <label for="">Modelo</label>
            <input type="text" value="@Model.Modelo" name="Modelo">
            <br />
            <label for="">IMEI</label>
            <input type="text" value="@Model.Imei" name="Imei">
            <br />
            <label for="">Estado</label>
            <select name="Estado">
                @if (Model.Estado == "A")
                {
                    <option value="A" selected>Activo</option>
                    <option value="I">Inactivo</option>
                }
                else
                {
                    <option value="A">Activo</option>
                    <option value="I" selected>Inactivo</option>
                }
            </select>




            @*<input type="text" value="@Model.Estado" name="Estado">*@
            <br />
            <label for="">Condicion</label>
            <select name="Condicion">
                @if (Model.Condicion == "B")
                {
                    <option value="B" selected>Buen estado</option>
                    <option value="M">Mal Estado</option>
                }
                else
                {
                    <option value="B">Buen estado</option>
                    <option value="M" selected>Mal Estado</option>
                }
            </select>

            <br />
            <br />
            <br />
            <button type="submit">Guardar</a></button>
            <button type="button" id="cancelar"><a href=@Url.Action("Home_","Home")>Cancelar</a></button>

        </form>
    </div>


    <!-- El Popup -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Seleccionar Empleado</h2>
            <table id="empleadosTable">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                </tr>
                <!-- Iterar sobre los empleados del modelo -->
                @foreach (var empleado in Model.Empleados)
                {
                    <tr>
                        <td>@empleado.Cod_Emple</td>
                        <td>@empleado.Nombre</td>
                        <td><button class="selectEmpleadoBtn" data-cod-emple="@empleado.Cod_Emple" data-nombre="@empleado.Nombre">Seleccionar</button></td>
                    </tr>
                }
            </table>
        </div>
    </div>



    <script src="~/js/customScript.js"></script>
    
</body>
</html>