@model List<Inventario.Models.MListItems>
@{
    int contador = 1;
}

@foreach (var item in Model) // Nota: Model ya es la lista de items
{
    <tr>
        <td>@(contador++)</td>
        <td>@item.Tipo</td>
        <td>@item.No_Inventario</td>
        <td>@item.Serie</td>
        <td>@item.Modelo</td>
        <td>@item.Area</td>
        <td>@item.Estado</td>
        <td>@item.Nombre</td>
        <td>
            <a asp-action="Detalle"
               asp-controller="Inventario"
               asp-route-noInventario="@item.No_Inventario"
               class="btn btn-sm btn-outline-info"
               title="Ver Detalle">
                <i class="fas fa-eye"></i>
            </a>

            <a asp-action="Editar"
               asp-controller="Computadoras"
               asp-route-b="@item.No_Inventario"
            @* asp-route-tipoItem="@item.Tipo"  *@
               class="btn btn-sm btn-outline-warning"
               title="Editar">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
}